DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auction_db"
PORT=4000

ALLOWED_ORIGINS="https://your-app.vercel.app,https://your-app.up.railway.app,http://localhost:3000"

REDIS_URL=""

JWT_SECRET=""

PROXY_HOST=""
PROXY_PORT=""
PROXY_USER=""
PROXY_PASS=""

COPART_EMAIL=""
COPART_PASSWORD=""

IAAI_EMAIL=""
IAAI_PASSWORD=""
